.formulario {
    

    @include tablet {
        .column-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

        }
    }

    fieldset {
        border: none;
    }
    p {
        font-size: 2rem;
        color: $negro;
        margin: 2rem 0 0 0;
    }

    label {
        font-weight: $bold;
        text-transform: uppercase;
        display: block;
    }

    input:not([type="submit"]),
    textarea,
    select  {
        padding: 1rem;
        font-size: 1.8rem;
        display: block;
        width: 100%;
        background-color: $blancoSuave;
        border: 1px solid $grisClaro;
    }

    

    textarea {
        display: block;
        width: 100%;
        background-color: $blancoSuave;
        border: 1px solid $grisClaro;
    }

    .acepta {
        max-width: 60rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            font-size: 1.5rem;
        }

        input[type="radio"] {
            margin: 0;
            width: auto;
        }
    }
    
   

}
.separa {
    margin-bottom: 2rem;
}

