.no-webp .foto-gastfamilie {
    background-image: url('../../build/img/teaser_gastfamilie.jpg');
}

.webp .foto-gastfamilie {
    background-image: url('../../build/img/teaser_gastfamilie.webp');
}

.foto-gastfamilie {
    margin-top: 10rem;
    height: 60rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}