.no-webp .foto-information {
    background-image: url('../../build/img/teaser_betreuung.jpg');
}

.webp .foto-information {
    background-image: url('../../build/img/teaser_betreuung.webp');
}

.foto-information {
    margin-top: 10rem;
    height: 60rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}