.no-webp .foto-programme {
    background-image: url('../../build/img/teaser_programm.jpg');
}

.webp .foto-programme {
    background-image: url('../../build/img/teaser_programm.webp');
}

.foto-programme {
    margin-top: 10rem;
    height: 60rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}