.no-webp .foto-uberuns {
    background-image: url('../../build/img/teaser_team.jpg');
}

.webp .foto-uberuns {
    background-image: url('../../build/img/teaser_team.webp');
}

.foto-uberuns {
    margin-top: 10rem;
    height: 60rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}