.no-webp .foto-principal {
    background-image: url('../../build/img/slider1.jpg');
}

.webp .foto-principal {
    background-image: url('../../build/img/slider1.webp');
}

.foto-principal {
    margin-top: 10rem;
    height: 60rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}