.no-webp .foto-secundaria {
    background-image: url('../../build/img/teaser_team.jpg');
}

.webp .foto-secundaria {
    background-image: url('../../build/img/teaser_team.webp');
}

.foto-secundaria {
    
    height: 40rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}

.contenedor-foto {
    width: 100%;
    background-color: $blancoSuave;
}

.no-webp .tercera-foto {
    background-image: url('../../build/img/teaser_programm.jpg');
}

.webp .tercera-foto {
    background-image: url('../../build/img/teaser_programm.webp');
}

.tercera-foto {
    height: 40rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}

.no-webp .cuarta-foto {
    background-image: url('../../build/img/teaser_gastfamilie.jpg');
}

.webp .cuarta-foto {
    background-image: url('../../build/img/teaser_gastfamilie.webp');
}

.cuarta-foto {
    height: 40rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}

.no-webp .quinta-foto {
    background-image: url('../../build/img/teaser_betreuung.jpg');
}

.webp .quinta-foto {
    background-image: url('../../build/img/teaser_betreuung.webp');
}

.quinta-foto {
    height: 40rem;
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
}